## Tuples in Python
- Creating tuples
- Accessing tuples
- methods
- packing and unpacking 
- etc

In [1]:
## Tuples
## Immutable

tpl = (1,"Aliza",3.5,True)
print(type(tpl))

<class 'tuple'>

In [2]:
tpl = 1,2,3,4,5,6
print(type(tpl))

<class 'tuple'>

In [ ]:
lst = [1,2,3,4,5,"Aliza","laika","alisha",True,False,3.5,4.5]

tpl = tuple(lst) ## Type Casting
print(type(tpl))

<class 'tuple'>

In [6]:
## Accessing Tuple elements
## Indexing
print(tpl[2])
print(tpl[9])

# Slicing Operations

print(tpl[0:])
print(tpl[:5])
print(tpl[2:7])
print(tpl[4::2])

## Reverse Form
print(tpl[::-1])

3
False
(1, 2, 3, 4, 5, 'Aliza', 'laika', 'alisha', True, False, 3.5, 4.5)
(1, 2, 3, 4, 5)
(3, 4, 5, 'Aliza', 'laika')
(5, 'laika', True, 3.5)
(4.5, 3.5, False, True, 'alisha', 'laika', 'Aliza', 5, 4, 3, 2, 1)

In [7]:
## Operatons and Methods

print(tpl.count("Aliza"))
print(tpl.index("Aliza"))

1
5

In [8]:
tpl*3

(1,
 2,
 3,
 4,
 5,
 'Aliza',
 'laika',
 'alisha',
 True,
 False,
 3.5,
 4.5,
 1,
 2,
 3,
 4,
 5,
 'Aliza',
 'laika',
 'alisha',
 True,
 False,
 3.5,
 4.5,
 1,
 2,
 3,
 4,
 5,
 'Aliza',
 'laika',
 'alisha',
 True,
 False,
 3.5,
 4.5)

In [10]:
## Concatination

numbers = (1,2,3,4,5,6,7)

mixed_tpl = tpl + numbers

print(mixed_tpl)

(1, 2, 3, 4, 5, 'Aliza', 'laika', 'alisha', True, False, 3.5, 4.5, 1, 2, 3, 4, 5, 6, 7)

In [11]:
## Packing and Unpacking

tpl = 2,3,4,5,"Aliza","20","Computer science"

In [12]:
## unpacking tuple with *

first, *middle, last = tpl

print(first)
print(middle)
print(last)

2
[3, 4, 5, 'Aliza', '20']
Computer science

In [13]:
## 2nd technique for unpacking tuples

tpl = "Aliza", "Laika", "Alisha"

a,b,c = tpl
print(a)
print(b)
print(c)

Aliza
Laika
Alisha

In [14]:
## Iterating over tuples
tpl = 2,3,4,5,"Aliza","20","Computer science"

for i in tpl:
    print(f"Hi,{i}")

Hi,2
Hi,3
Hi,4
Hi,5
Hi,Aliza
Hi,20
Hi,Computer science

In [15]:
## Nested Tuples

nested_list = [[1,2,3,4],["aliza","laika","alisha"],[True,False,True]]

nested_tuple = ((1,2,3,4),("aliza","laika","alisha"),(True,False,True))

In [18]:
for i in nested_tuple:
    for j in i:
        print(f"{j*2}")

2
4
6
8
alizaaliza
laikalaika
alishaalisha
2
0
2

In [1]:
## Nested Tuples

nested_list = [[1,2,3,4],["aliza","laika","alisha"],[True,False,True]]

nested_tuple = ((1,2,3,4),("aliza","laika","alisha"),(True,False,True))

In [2]:
## Modifying the list element 

nested_list[0][2] = "UAF"
print(nested_list)

[[1, 2, 'UAF', 4], ['aliza', 'laika', 'alisha'], [True, False, True]]

In [ ]:
## Modifying the Tuple

## nested_tuple[1][1] = "Second name"  
## print(nested_tuple)     ## not run and show error because tuples are immutable