## Lists in Python
- How to create the lists
- How to access elements in the lists
- List Slicing
- List Methods
- Nested Lists
- Iterating over the list
- List Comprehensions
- Nested list Comprehension

- List are mutable collection of data.

In [ ]:
## Creating list

lst = []
print(type(lst))

<class 'list'>

In [2]:
lst = [1, 2, 3, 4, 5, "Aliza", "Laika", "Alisha",5.5, 6.6, True, False]
print(lst)

[1, 2, 3, 4, 5, 'Aliza', 'Laika', 'Alisha', 5.5, 6.6, True, False]

In [3]:
## Accessing list 
## Indexing for accessing list elements

print (lst[0])  
print (lst[1])  
print (lst[11])
print (lst[-1])

1
2
False
False

In [13]:
## Slicing Operations

print(lst[0:3])
print(lst[2:6])
print(lst[2::2]) 
print(lst[2:])
print(lst[:7])
print(lst[-1::-1])

[1, 2, 3]
[3, 4, 5, 'Aliza']
[3, 5, 'Laika', 5.5, True]
[3, 4, 5, 'Aliza', 'Laika', 'Alisha', 5.5, 6.6, True, False]
[1, 2, 3, 4, 5, 'Aliza', 'Laika']
[False, True, 6.6, 5.5, 'Alisha', 'Laika', 'Aliza', 5, 4, 3, 2, 1]

In [14]:
## Modify the list element

lst[7] = "Computer science"
print(lst)

[1, 2, 3, 4, 5, 'Aliza', 'Laika', 'Computer science', 5.5, 6.6, True, False]

In [15]:
## List Methods

lst.append("Rubab")
print(lst)

out_put = lst.pop()
print(out_put)

lst.remove("Computer science")
print(lst)

[1, 2, 3, 4, 5, 'Aliza', 'Laika', 'Computer science', 5.5, 6.6, True, False, 'Rubab']
Rubab
[1, 2, 3, 4, 5, 'Aliza', 'Laika', 5.5, 6.6, True, False]

In [18]:
fruits = ["banana", "apple", "cherry", "dog", "cat", "Aliza", "Laika"]

fruits.sort()
print(fruits)

['Aliza', 'Laika', 'apple', 'banana', 'cat', 'cherry', 'dog']

In [22]:
## Nested Lists

lst =[
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

print(lst[0][2])  
print(lst[1][1])

3
5

In [23]:
## Iteratig over the list
fruits = ["banana", "apple", "cherry", "dog", "cat", "Aliza", "Laika"]

for i in fruits:
    print(i.upper())

BANANA
APPLE
CHERRY
DOG
CAT
ALIZA
LAIKA

In [24]:
lst =[
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

num=[]

for i in lst:
    for j in i:
        num.append(j)

print(num)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

### List Comprehension

formate_1 : [*expression for item in iterable*]

formate_2 " [*expression for item in iterable if condition*]

### Nested list Comprehension

format_3 : [*expression for item in iterable if condition for item2 in iterable2 if condition2*]

In [28]:
## List Comprehension

lst = []

for i in range(10):
    if i % 2 == 0:
        lst.append(i*i)
        
print(lst)

[0, 4, 16, 36, 64]

In [29]:
lst = [ i*i for i in range(10) if i%2!=0]

print(lst)

[1, 9, 25, 49, 81]

In [30]:
lst =[
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

## Nested list Comprehension

nest_lst = [j for i in lst for j in i]

print(nest_lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9]