- Varaible Assignment
- Naming Convention 
- Dynamic Typing
- & Type Conversion

In [3]:
a=20   ## integers
name="Aliza"  ## strings
height=5.7    ## floats
is_adult=True   ## Boolean

In [4]:
print(a)
print(name)
print(height)
print(is_adult)

20
Aliza
5.7
True

In [5]:
print(type(a))
print(type(name))
print(type(height))
print(type(is_adult))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>

In [6]:
## Python is a dynamically typed language
var = 22
print(type(var))
var = "Aliza"
print(type(var))
var = True
print(type(var))

<class 'int'>
<class 'str'>
<class 'bool'>

In [7]:
## Type conversion
age = '21'
print(type(age))
age_1 = int(age)
print(type(age_1))

<class 'str'>
<class 'int'>

In [8]:
## Naming Convention

## small case letters, underscore, and numbers

In [9]:
## input() Function

num_1= input("Enter first number!")
num_2=input("Enter second number!")

In [10]:
print(num_1)
print(num_2)

24
17

In [11]:
print(type(num_1))
print(type(num_2))

<class 'str'>
<class 'str'>

In [ ]:
## Simple Calculator
num_1= int(input("Enter first number!"))
num_2=int(input("Enter second number!"))
sum = num_1 + num_2
diff = num_2 - num_1
multi = num_1 * num_2
div = num_2 / num_1
print(sum)
print(diff)
print(multi)
print(div)

51
-13
608
0.59375

## Basic data types

- Strings
- Boolean 
- Integer
- Float

In [ ]:
## Strings
name = "Aliza"

In [16]:
print(name.upper())

ALIZA

In [17]:
## Boolean
x = True
y = False

In [18]:
x.as_integer_ratio()

(1, 1)

In [19]:
## Integer

age = 20

In [20]:
## Float

weight = 50.0